<form #itemForm="ngForm" (ngSubmit)="submitForm(itemForm)">
  <div
    [class]="{
      'item-card-grid': true,
      active: isActive
    }"
  >
    <div
      *ngFor="let option of itemCardOptions; trackBy: getTrackIndex"
      class="item-card"
    >
      <div class="item-card-content">
        <input
          class="item-options-size"
          type="checkbox"
          [name]="'check-' + option.itemId + '-' + option.sizeId"
          [(ngModel)]="option.checked"
          (change)="togglePrice(option)"
        />
        <span>sizeId: {{ option.sizeId }}</span>
        <input
          class="item-options-price"
          type="number"
          [name]="'price-' + option.itemId + '-' + option.sizeId"
          [(ngModel)]="option.price"
          [disabled]="!option.checked"
          [ngModelOptions]="{ updateOn: 'submit' }"
        />
      </div>
    </div>
  </div>

  <div class="item-options-actions">
    <button class="btn submit" type="submit">Submit</button>
    <app-undo-icon (click)="undo(itemForm)"></app-undo-icon>
  </div>
</form>

<!--
<pre>
  {{ itemForm.value | json }}
</pre> -->
