<form #itemForm="ngForm" (ngSubmit)="submitForm(itemForm)">
  <div
    [class]="{
      'item-card-grid': true,
      active: isActive
    }"
  >
    @for(option of itemCardOptions; track option['key']){
    <div class="item-card">
      <div class="item-card-content">
        <input
          class="item-options-size"
          type="checkbox"
          [name]="'check-' + option.value.sizeName"
          [(ngModel)]="option.value.checked"
          (change)="togglePrice(option)"
        />
        <span>{{ option.value.sizeName }}</span>
        <input
          class="item-options-price"
          type="number"
          [name]="'price-' + option['key']"
          [(ngModel)]="option.value.price"
          [disabled]="!option.value.checked"
        />
      </div>
    </div>
    }
  </div>
  <div class="item-options-actions">
    <button class="btn submit" type="submit">Submit</button>
    <app-undo-icon (click)="undo(itemForm)"></app-undo-icon>
  </div>
</form>

<pre>
  <!-- itemCardOptions: {{ itemCardOptions | json }} -->
  <!-- initialCardOptions: {{ itemCardOptionsInitial | json }} -->
  <!-- cloned: {{ getClonedItemCardOptions(itemCardOptions) | json }} -->
</pre>

<pre>
  <!-- {{ itemForm.value | json }} -->
</pre>
