.checkbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 5rem;
  width: 100px;

  input {
    margin-top: 1.5rem;
    transform: scale(2.5);
  }
}

span {
  font-size: 1.1rem;
}
