// font
$default-font-size: 1.6rem;

// color pallete
$color-white: rgb(255, 255, 255);
$color-box-active-bg: rgb(227, 240, 248);
$color-box-inactive-bg: $color-white;
$color-box-shadow: #e1e1e1;
$color-dollar-bg: rgb(124, 162, 183);
$color-radio-btn-bg: rgb(97, 144, 168);
$color-undo-btn-border: rgb(152, 184, 202);

// shadow
$shadow-box-main: 0px 2px 5px 2px $color-box-shadow;
