@for(item of state.items; track item.itemId){

<app-card>
  @if(state.selectedItemId === item.itemId){
  <app-keyboard-arrow-up icon></app-keyboard-arrow-up>
  } @else {
  <app-keyboard-arrow-down icon></app-keyboard-arrow-down>
  }

  <app-item-card
    title
    [item]="item"
    (selectedItem)="onSelected($event)"
  ></app-item-card>

  @if(state.selectedItemId === item.itemId){

  <app-item-details
    content
    [isActive]="true"
    [item]="item"
    [itemCardMapOptions]="getFilteredItemCardMap(item.itemId)"
    (selectedItemCardOptions)="onSelectedItemCardOptions($event)"
  ></app-item-details>

  }
</app-card>

}
